Source: kdetoys
Section: contrib/games
Priority: extra
Maintainer: Patricia Jung <trish@freiburg.linux.de>
Standards-Version: 2.3.0.0

Package: kdetoys
Architecture: i386
Depends: ${shlibs:Depends}, kdebase
Description: some toys for the KDE 
 useless things you'll love :)
